<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lugeda ära palju on tekstis mingit tähte. Kasutajal on kaks lahtrit, ühte
      sisestab teksti ja teise tähe. Tulemuseks kirjutatakse mitu vastavat tähte
      esines antud tekstis
    </p>
    <textarea id="addedText" cols="50" rows="10"></textarea><br />
    <input type="text" id="letter" maxlength="1" />
    <p id="countRes"></p>
    <button id="changeChar" hidden="true">Vaheta tähte</button>
    <button id="emptyTextArea" hidden="true">Tühjenda väljad</button>
  </body>

  <script>
    const addedText = document.getElementById("addedText");
    const letter = document.getElementById("letter");
    const countRes = document.getElementById("countRes");
    const emptyTextArea = document.getElementById("emptyTextArea");
    const changeChar = document.getElementById("changeChar");

    emptyTextArea.addEventListener("click", resetTextArea);
    changeChar.addEventListener("click", changeLetter);
    letter.addEventListener("input", findLetters);

    function findLetters() {
      let text = addedText.value;
      let char = letter.value;
      let charCount = 0;

      for (let i = 0; i < text.length; i++) {
        if (text.charAt(i) == char) {
          charCount++;
        }
      }
      addedText.disabled = true;
      countRes.hidden = false;
      emptyTextArea.hidden = false;
      letter.hidden = true;
      changeChar.hidden = false;
      countRes.innerHTML =
        "Tähte " + '"' + char + '"' + " on tekstis " + charCount + " kord(a)";
    }
    function resetTextArea() {
      addedText.value = "";
      letter.value = "";
      letter.hidden = false;
      countRes.hidden = true;
      addedText.disabled = false;
      emptyTextArea.hidden = true;
      changeChar.hidden = true;
    }
    function changeLetter() {
      letter.value = "";
      letter.hidden = false;
    }
  </script>
</html>
