<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Date</title>
  </head>
  <body>
    <p>
      9. Kuupäeva validaator. Süsteemi sisestatakse kuupäev, mis peab olema
      formaadis pp.kk.aaaa (näiteks 14.01.2021). Süsteem kontrollib kas antud
      tekst on kuupäev ilma teksti kuupäevaks konverteerimata (ehk et teeme
      manuaalse kontrolli vastavalt kas pp on lubatud vahemikus, kas kk on
      lubatud vahemikus, kas antud kuus on nii palju päevi jne Liigaastaga ei
      pea arvestama).(arvestab liigaastat)
    </p>
    <input type="text" id="date" />
    <p id="response"></p>

    <script>
      inputDate = document.getElementById("date");
      response = document.getElementById("response");
      inputDate.addEventListener("input", validateDate);

      function validateDate() {
        let dateFormat = inputDate.value;
        if (
          /^(0[1-9]|[12][0-9]|3[01])[\.](0[1-9]|1[012])[\.]\d{4}$/.test(
            dateFormat
          )
        ) {
          let insDate = inputDate.value.split(".");
          let dd = parseInt(insDate[0]);
          let mm = parseInt(insDate[1]);
          let yy = parseInt(insDate[2]);
          let listOfDays = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
          if (mm == 1 || mm > 2) {
            if (dd > listOfDays[mm - 1]) {
              response.innerHTML = "Vigane kuupäeva formaat";
            } else {
              response.innerHTML = "Õige kuupäeva formaat";
            }
          } else if ((mm = 2)) {
            let leapYear = false;
            if ((!(yy % 4) && yy % 400) || !(yy % 400)) {
              leapYear = true;
            }

            if (leapYear == false && dd >= 29) {
              response.innerHTML = "Vigane kuupäeva formaat";
            } else if (leapYear == true && dd > 29) {
              response.innerHTML = "Vigane kuupäeva formaat";
            } else {
              response.innerHTML = "Õige kuupäeva formaat";
            }
          } else {
            response.innerHTML = "Vigane kuupäeva formaat";
          }
        } else {
          response.innerHTML = "Vigane kuupäeva formaat";
        }
      }
    </script>
  </body>
</html>
